# Ignore bundler config.
/.bundle

# Ignore the default SQLite database.
/db/*.sqlite3
/db/*.sqlite3-journal

# Ignore all logfiles and tempfiles.
/log/*.log
/tmp

# Ignore local settings
config/settings.local.yml
config/settings/*.local.yml
config/environments/*.local.yml

# Ignore IDE stuff
/.idea
